/* section */

#input {
    display: flex;
    height: 100%;
}

/* input form */

#input > .input-form {
    display: grid;
    grid-auto-rows: 1fr;
    justify-items: center;
    align-items: center;
    height: calc(100% * 3);
    width: 100%;
}

/* container */

#input > .input-form > .container {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100%;
}

/* input states container */

#input > .input-form > .container > .input-states {
    display: grid;
    grid-auto-rows: 1fr;
    align-items: center;
    justify-items: center;
}

/* input states label */

#input > .input-form > .container > .input-states > .label {
    font-weight: 600;
    text-align: center;
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
    color: var(--gin);
    letter-spacing: 1px;
    margin-top: 0;
}

/* input states input field */

#input > .input-form > .container > .input-states > .states-number {
    background: transparent;
    border: 1px solid var(--pale-sky);
    color: var(--gin);
    font-size: large;
    font-family: 'Poppins', sans-serif;
    width: 30%;
    padding: 10px;
    outline: none;
    text-align: center;
    justify-self: center;
    transition: border 0.3s, box-shadow 0.3s;
}

#input > .input-form > .container > .input-states > .states-number:hover {
    border: 1px solid var(--oslo-gray);
}

#input > .input-form > .container > .input-states > .states-number:focus {
    box-shadow: 0 0 10px var(--oslo-gray-blurred);
    border: 1px solid var(--oslo-gray);
}

/* input alphabet 1 container */

#input > .input-form > .container > .input-alphabet-1 {
    display: grid;
    grid-auto-rows: 1fr;
    align-items: center;
    justify-items: center;
}

/* input alphabet 1 label */

#input > .input-form > .container > .input-alphabet-1 > .label {
    font-weight: 600;
    text-align: center;
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
    color: var(--gin);
    letter-spacing: 1px;
    margin-top: 0;
}

/* input alphabet 1 input field */

#input > .input-form > .container > .input-alphabet-1 > .inputs-number {
    background: transparent;
    border: 1px solid var(--pale-sky);
    color: var(--gin);
    font-size: large;
    font-family: 'Poppins', sans-serif;
    width: 30%;
    padding: 10px;
    outline: none;
    text-align: center;
    justify-self: center;
    transition: border 0.3s, box-shadow 0.3s;
}

#input > .input-form > .container > .input-alphabet-1 > .inputs-number:hover {
    border: 1px solid var(--oslo-gray);
}

#input > .input-form > .container > .input-alphabet-1 > .inputs-number:focus {
    box-shadow: 0 0 10px var(--oslo-gray-blurred);
    border: 1px solid var(--oslo-gray);
}

/* input alphabet 2 */

#input > .input-form > .container > .input-alphabet-2 {
    display: grid;
    grid-auto-rows: 1fr;
    align-items: center;
    justify-items: center;
}

/* input transitions */

#input > .input-form > .container > .input-transitions {
    display: none;
}

/* input finals 1 */

#input > .input-form > .container > .input-finals-1 {
    display: none;
}

/* input finals 2 */

#input > .input-form > .container > .input-finals-2 {
    display: none;
}

/* progress button */

#input > .input-form > .container .progress-button {
    display: flex;
    border-radius: 5px;
    width: 20%;
    padding: 10px;
    border: none;
    outline: none;
    background: var(--elm);
    color: var(--gin);
    font-size: large;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-content: center;
    align-self: flex-end;
    transition: background 0.3s;
}

#input > .input-form > .container .progress-button:hover {
    background: var(--paradiso);
}