/* section */

#input {
    display: flex;
    height: calc(100% * 6);
}

/* input form */

#input > .input-form {
    display: grid;
    grid-auto-rows: 1fr;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* container */

#input > .input-form > .container {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100%;
}

/* input states container */

#input > .input-form > .container > .input-states {
    display: grid;
    grid-auto-rows: 1fr;
    align-items: center;
    justify-items: center;
}

/* input states label */

#input > .input-form > .container > .input-states > .label {
    font-weight: 600;
    text-align: center;
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
    color: var(--gin);
    letter-spacing: 1px;
    margin-top: 0;
}

/* input states input field */

#input > .input-form > .container > .input-states > .states-number {
    background: transparent;
    border: 1px solid var(--pale-sky);
    color: var(--gin);
    font-size: large;
    font-family: 'Poppins', sans-serif;
    width: 150px;
    padding: 10px;
    outline: none;
    text-align: center;
    justify-self: center;
    transition: border 0.3s, box-shadow 0.3s;
}

#input > .input-form > .container > .input-states > .states-number:hover {
    border: 1px solid var(--oslo-gray);
}

#input > .input-form > .container > .input-states > .states-number:focus {
    box-shadow: 0 0 10px var(--oslo-gray-blurred);
    border: 1px solid var(--oslo-gray);
}

/* input alphabet 1 container */

#input > .input-form > .container > .input-alphabet-1 {
    display: grid;
    grid-auto-rows: 1fr;
    align-items: center;
    justify-items: center;
}

/* input alphabet 1 label */

#input > .input-form > .container > .input-alphabet-1 > .label {
    font-weight: 600;
    text-align: center;
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
    color: var(--gin);
    letter-spacing: 1px;
    margin-top: 0;
}

/* input alphabet 1 input field */

#input > .input-form > .container > .input-alphabet-1 > .inputs-number {
    background: transparent;
    border: 1px solid var(--pale-sky);
    color: var(--gin);
    font-size: large;
    font-family: 'Poppins', sans-serif;
    width: 150px;
    padding: 10px;
    outline: none;
    text-align: center;
    justify-self: center;
    transition: border 0.3s, box-shadow 0.3s;
}

#input > .input-form > .container > .input-alphabet-1 > .inputs-number:hover {
    border: 1px solid var(--oslo-gray);
}

#input > .input-form > .container > .input-alphabet-1 > .inputs-number:focus {
    box-shadow: 0 0 10px var(--oslo-gray-blurred);
    border: 1px solid var(--oslo-gray);
}

/* input alphabet 2 container */

#input > .input-form > .container > .input-alphabet-2 {
    display: grid;
    grid-auto-rows: 1fr;
    align-items: center;
    justify-items: center;
}

/* input alphabet 2 label */

#input > .input-form > .container > .input-alphabet-2 > .label {
    font-weight: 600;
    text-align: center;
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
    color: var(--gin);
    letter-spacing: 1px;
    margin-top: 0;
}

/* input alphabet 2 fields */

#input > .input-form > .container > .input-alphabet-2 > .input {
    background: transparent;
    border: 1px solid var(--pale-sky);
    color: var(--gin);
    font-size: large;
    font-family: 'Poppins', sans-serif;
    width: 150px;
    padding: 5px;
    outline: none;
    text-align: center;
    justify-self: center;
    transition: border 0.3s, box-shadow 0.3s;
}

#input > .input-form > .container > .input-alphabet-2 > .input:hover {
    border: 1px solid var(--oslo-gray);
}

#input > .input-form > .container > .input-alphabet-2 > .input:focus {
    box-shadow: 0 0 10px var(--oslo-gray-blurred);
    border: 1px solid var(--oslo-gray);
}

/* input transitions container */

#input > .input-form > .container > .input-transitions {
    display: grid;
    grid-auto-rows: 1fr 6fr 1fr;
    grid-auto-columns: 1fr 1fr;
    min-width: 40vw;
    min-height: 50vh;
    align-items: center;
    justify-items: center;
}

/* input transitions label */

#input > .input-form > .container > .input-transitions > .label {
    grid-column: 1 / 3;
    font-weight: 600;
    text-align: center;
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
    color: var(--gin);
    letter-spacing: 1px;
    margin-top: 0;
}

/* input transitions transition-container */

#input > .input-form > .container > .input-transitions > .transition-container {
    display: grid;
    grid-column: 1 / 2;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* input transitions transition-container states, inputs, outputs */

#input > .input-form > .container > .input-transitions > .transition-container > .states,
#input > .input-form > .container > .input-transitions > .transition-container > .inputs,
#input > .input-form > .container > .input-transitions > .transition-container > .outputs {
    display: grid;
    grid-auto-rows: 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* input transitions transition-container states, inputs, outputs buttons */

#input > .input-form > .container > .input-transitions > .transition-container > .states > button,
#input > .input-form > .container > .input-transitions > .transition-container > .inputs > button,
#input > .input-form > .container > .input-transitions > .transition-container > .outputs > button {
    background: transparent;
    border: 1px solid var(--pale-sky);
    border-radius: 5px;
    color: var(--gin);
    font-size: large;
    font-family: 'Poppins', sans-serif;
    width: 40px;
    height: 35px;
    margin: 3px;
    outline: none;
    text-align: center;
    justify-self: center;
    cursor: pointer;
    transition: all 0.2s;
}

#input > .input-form > .container > .input-transitions > .transition-container > .states > button:hover,
#input > .input-form > .container > .input-transitions > .transition-container > .inputs > button:hover,
#input > .input-form > .container > .input-transitions > .transition-container > .outputs > button:hover {
    border: 1px solid var(--oslo-gray);
    transform: scale(1.1);
}

/* input transitions progress button */

#input > .input-form > .container > .input-transitions > .progress-button {
    grid-column: 1 / 3;
}

/* input transitions show chosen */

#input > .input-form > .container > .input-transitions > .show-chosen {
    grid-column: 2 / 3;
    justify-self: center;
    margin-left: 15px;
}

/* input transitions show chosen paragraph */

#input > .input-form > .container > .input-transitions > .show-chosen > p {
    color: var(--gin);
    font-size: small;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

/* input finals 1 */

#input > .input-form > .container > .input-finals-1 {
    display: grid;
    grid-auto-rows: 1fr;
    align-items: center;
    justify-items: center;
}

/* input finals 1 label */

#input > .input-form > .container > .input-finals-1 > .label {
    font-weight: 600;
    text-align: center;
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
    color: var(--gin);
    letter-spacing: 1px;
    margin-top: 0;
}

/* input finals 1 input field */

#input > .input-form > .container > .input-finals-1 > .finals-number {
    background: transparent;
    border: 1px solid var(--pale-sky);
    color: var(--gin);
    font-size: large;
    font-family: 'Poppins', sans-serif;
    width: 150px;
    padding: 10px;
    outline: none;
    text-align: center;
    justify-self: center;
    transition: border 0.3s, box-shadow 0.3s;
}

#input > .input-form > .container > .input-finals-1 > .finals-number:hover {
    border: 1px solid var(--oslo-gray);
}

#input > .input-form > .container > .input-finals-1 > .finals-number:focus {
    box-shadow: 0 0 10px var(--oslo-gray-blurred);
    border: 1px solid var(--oslo-gray);
}

/* input finals 2 */

#input > .input-form > .container > .input-finals-2 {
    display: grid;
    grid-auto-rows: 1fr;
    align-items: center;
    justify-items: center;
}

/* input finals 2 label */

#input > .input-form > .container > .input-finals-2 > .label {
    font-weight: 600;
    text-align: center;
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
    color: var(--gin);
    letter-spacing: 1px;
    margin-top: 0;
}

/* input finals 2 fields */

#input > .input-form > .container > .input-finals-2 > .input {
    background: transparent;
    border: 1px solid var(--pale-sky);
    color: var(--gin);
    font-size: large;
    font-family: 'Poppins', sans-serif;
    width: 150px;
    padding: 5px;
    outline: none;
    text-align: center;
    justify-self: center;
    transition: border 0.3s, box-shadow 0.3s;
}

#input > .input-form > .container > .input-finals-2 > .input:hover {
    border: 1px solid var(--oslo-gray);
}

#input > .input-form > .container > .input-finals-2 > .input:focus {
    box-shadow: 0 0 10px var(--oslo-gray-blurred);
    border: 1px solid var(--oslo-gray);
}

/* progress button */

#input > .input-form > .container .progress-button {
    display: flex;
    border-radius: 5px;
    padding: 10px 25px;
    border: none;
    outline: none;
    cursor: pointer;
    background: var(--elm);
    color: var(--gin);
    font-size: large;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-content: center;
    align-self: flex-end;
    transition: background 0.3s;
}

#input > .input-form > .container .progress-button:hover {
    background: var(--paradiso);
}