/* Color variables */

html, body {
    --white: #FFFFFF;
    --cloud-burst: #1D2E41;
    --tall-poppy: #BC4123;
    --mojo: #C35439;
    --ebony-clay: #20272F;
    --gin: #E3EDE6;
    --pale-sky: #6B7581;
    --oslo-gray: #8B929A;
    --oslo-gray-blurred: rgb(139, 146, 154, 0.5);
    --elm: #24747C;
    --paradiso: #31848C;
    --peru-tan: #912400;
    --peru-tan-blurred: rgba(145, 36, 0, 0.5);
}